/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-height: 100%;
    background-color: #E4E4E4;
}

.primary-color{
    color: #0071BC;
}

header,
footer {
    background-color: #0071BC;
}

.header-title {
    font-size: 28px;
    color: #fff;

}

.event-card,
.card-img-top {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background-color: #0071BC;
    color: #fff;
}

#carouselExampleIndicators {
    position: relative;
}

.carousel-indicators {
   


}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px !important;
    margin-left: 10px !important;
}
.carousel-caption {
    position: absolute;
    /* right: 15%; */
    bottom: 1.25rem;
    left: 0% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: -20px; 
    width: 100%;
}
.carousel-caption h5 {
   background-color: #0071bcb8;
}